main {
    width: 100%;
    margin-top: 50px;

    .intro {
        width: 100%;
        max-width: 800px;
        margin: auto;
        padding: 0px calc(2% + 10px);

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        .content {
            margin-top: -50px;
            opacity: 0;
            transform: translateX(-30px);
            animation: UsernameMove 1s forwards;

            h2 {
                margin-top: -10px;
                margin-left: -2px;
                user-select: none;
                color: #e0cdcd;
                font-weight: 800;
                font-size: 55px;
                font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
                    "Open Sans", "Helvetica Neue", sans-serif;

                &:after {
                    content: "BOT";
                    display: inline;
                    cursor: pointer;

                    position: absolute;
                    margin-top: 10px;
                    margin-left: 5px;

                    font-size: 12px;
                    font-weight: normal;

                    width: fit-content;
                    height: fit-content;
                    padding: 1px 5px;
                    background-color: #5865f2;
                    border-radius: 3px;
                    color: #ffffff;

                    opacity: 0;
                    transform: translateX(-10px);
                    animation: UsernameMove 1s forwards;
                }
            }

            h4 {
                user-select: none;
                color: gray;
            }

            p {
                user-select: none;
                margin-top: -5px;
                width: 100%;
                max-width: 300px;
                color: #e0cdcd;
                font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
                    "Open Sans", "Helvetica Neue", sans-serif;
            }

            .btns {
                margin-top: 20px;

                a {
                    text-decoration: none;
                    user-select: none;
                    cursor: pointer;

                    button {
                        outline: none;
                        cursor: pointer;
                        padding: 7px 10px;
                        border: none;
                        font-size: 18px;
                        font-weight: bold;
                        border-radius: 3px;
                        color: $headerBackground;

                        transform: scale(1);
                        transition: 0.5s;

                        &:hover {
                            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
                            transform: scale(1.1);
                            transition: 0.5s;
                        }
                    }
                }
            }
        }

        .image {
            z-index: 1000;

            img {
                width: 100%;
                max-width: 300px;
                opacity: 0;
                transform: translateX(30px);
                animation: UsernameMove 2s forwards;
            }
        }
    }

    svg {
        display: block;
    }

    .features {
        display: block;
        width: 100%;
        background-color: #ffffff;
        padding-top: 50px;

        position: relative;
        z-index: 1000;

        .title {
            display: block;
            text-align: center;
            width: 100%;
            max-width: 800px;
            margin: 30px auto 20px auto;
            color: $headerBackground;
            font-size: 2rem;
            user-select: none;
            font-weight: bolder;
        }

        .features-list {
            width: 100%;
            max-width: 800px;
            margin: 0 auto;
            padding: calc(1% + 10px);

            .feature {
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-direction: row;
                flex-wrap: wrap;

                opacity: 0;
                margin: 40px 0px;
                transform: translateX(-20px);
                animation: UsernameMove 0.5s forwards;

                img {
                    width: 100%;
                    max-width: 350px;
                    border-radius: 10px;
                    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
                    transform: scale(1);
                    transition: transform 0.5s;

                    perspective: 1000px;
                    transform: rotateY(40deg) rotateX(10deg) rotateZ(-10deg);

                    &:hover {
                        cursor: pointer;
                        transform: scale(1.01);
                        transition: 0.5s;
                    }
                }

                .content {
                    margin: 10px;
                    width: 100%;
                    max-width: 300px;

                    padding-left: 10px;
                    border-left: 2px solid $headerBackground;

                    h2 {
                        margin-bottom: 10px;
                        user-select: none;
                        cursor: pointer;
                    }

                    span {
                        color: rgba($headerBackground, 0.7);
                        font-size: 14px;
                        user-select: none;
                    }
                }

                &.revert {
                    flex-direction: row;
                    flex-wrap: wrap-reverse;

                    opacity: 0;
                    transform: translateX(20px);
                    animation: UsernameMove2 0.5s forwards;

                    img {
                        perspective: 1000px;
                        transform: rotateY(40deg) rotateX(-10deg) rotateZ(10deg);

                        &:hover {
                            cursor: pointer;
                            transform: scale(1.01);
                            transition: 0.5s;
                        }
                    }

                    .content {
                        text-align: right;
                        padding-right: 10px;
                        padding-left: 0px;
                        border-left: none;
                        border-right: 2px solid $headerBackground;

                        h2 {
                            text-align: right;
                        }

                        span {
                            text-align: end;
                        }
                    }
                }
            }
        }
    }
    
    .cards {
        width: 100%;

        .cards-list {
            width: 100%;
            max-width: 1000px;
            margin: 10px auto;
            padding: calc(5% + 10px);
            
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;

            transform: translateY(-30px);
            animation: UsernameMove2 1s forwards;

            .card {
                width: 100%;
                max-width: 200px;
                min-height: 300px;

                margin: 10px;

                border-radius: 5px;
                border: 1px solid #062221;
                background-color: #082e2d;
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
                transform: scale(1);
                transition: transform 0.5s;
                
                &:hover {
                    transform: scale(1.1);
                    transition: 0.5s;
                }

                .title {
                    padding: 10px;
                    font-size: 18px;
                    color: #e0cdcd;
                    user-select: none;
                    cursor: pointer;
                }

                .line {
                    width: 100%;
                    height: 2px;
                    background-color: #062221;
                }

                .description {
                    padding: 10px;
                    font-size: 14px;
                    color: gray;
                    user-select: none;
                }
            }
        }
    }
}

@media (max-width: 725px) {
    main {
        .features > .features-list > .feature {
            margin: 40px 0px;

            img {
                margin: 0 auto;
                perspective: 1000px;
                transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg);
            }

            .content {
                margin-top: 30px;
            }

            &.revert {
                justify-content: flex-end;

                img {
                    transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg);
                }

                .content::after {
                    display: block;
                    margin-right: 0;
                }
            }
        }
    }
}

@media (max-width: 630px) {
    main {
        .intro {
            .content {
                margin-top: 20px;
                text-align: center;
                margin-left: auto;
                margin-right: auto;

                h2 {
                    font-size: 40px;

                    &::after {
                        display: none;
                    }
                }

                h4 {
                    display: none;
                }

                p {
                    margin-top: 5px;
                }
            }

            .image {
                display: none;
            }
        }
    }
}

@media (max-width: 300px) {
    main {
        .features {
            .title {
                font-size: 1.5rem;
            }
        }
    }
}