* {
  margin: 0;
  padding: 0;
  font-family: Arial;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #093332;
}

body::-webkit-scrollbar {
  display: none;
}

.circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  background-color: #ffffff;
  -webkit-clip-path: circle(500px at right 800px);
          clip-path: circle(500px at right 800px);
}

.option {
  width: 0vw;
  height: 100vh;
  position: fixed;
  left: -100vh;
  z-index: 2000;
  background-color: #093332;
  -webkit-transition: 1s;
  transition: 1s;
}

.option.active {
  left: 0;
  width: 100vw;
  -webkit-transition: 1s;
  transition: 1s;
}

.option .options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.option .options ul {
  display: block;
  list-style: none;
}

.option .options ul li {
  margin: 10px 10px;
  font-weight: 500;
}

.option .options ul li a {
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  color: #ffffff;
  font-size: 35px;
}

@media (max-width: 630px) {
  .circle {
    display: none;
  }
}

header {
  width: 100%;
  min-height: 50px;
  background-color: #093332;
}

header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 12px;
}

header .navbar .logomark {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .navbar .logomark .avatar {
  width: 40px;
  height: 40px;
  background-image: url(../assets/avatar.png);
  background-size: cover;
  border-radius: 50%;
  z-index: 1000;
}

header .navbar .logomark .avatar::before {
  cursor: pointer;
  content: "";
  opacity: 0;
  -webkit-animation: StatusCreate 0.5s forwards;
          animation: StatusCreate 0.5s forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  position: absolute;
  background-color: goldenrod;
  border-radius: 50%;
  border: 3px solid #093332;
  -webkit-transition: opacity 0.3s, width 0.3s, height 0.3s;
  transition: opacity 0.3s, width 0.3s, height 0.3s;
}

header .navbar .logomark .username {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  opacity: 0;
  -webkit-animation: UsernameMove 0.5s forwards;
          animation: UsernameMove 0.5s forwards;
  color: #dbdbdb;
  font-weight: bold;
  margin-left: 10px;
}

header .navbar .logomark .username::after {
  display: block;
  content: "";
  -webkit-animation: UsernameLine 0.5s forwards;
          animation: UsernameLine 0.5s forwards;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  width: 0%;
  height: 1px;
  background-color: #dbdbdb;
}

header .navbar .options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .navbar .options ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  opacity: 0;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  -webkit-animation: UsernameMove2 0.5s forwards;
          animation: UsernameMove2 0.5s forwards;
  -webkit-animation-delay: 1.3s;
          animation-delay: 1.3s;
}

header .navbar .options ul li {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin: 0 5px;
}

header .navbar .options ul li a {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #5b8e8f;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 12px;
}

header .navbar .options a {
  margin: 5px;
  text-decoration: none;
}

header .navbar .options a button {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  outline: none;
  opacity: 0;
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
  -webkit-animation: UsernameMove 0.5s forwards;
          animation: UsernameMove 0.5s forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  color: #dbdbdb;
  padding: 5px 7px;
  border: 2px solid #dbdbdb;
  border-radius: 70px;
  background-color: transparent;
}

header .navbar .options a button:hover {
  border: 2px solid #ffffff;
  color: #ffffff;
  -webkit-transition: border 0.5s, color 0.5s;
  transition: border 0.5s, color 0.5s;
}

header .navbar-compact {
  display: none;
}

header .navbar-compact .compose {
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 12px;
}

header .navbar-compact .compose .logomark {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .navbar-compact .compose .logomark .avatar {
  width: 40px;
  height: 40px;
  background-image: url(../assets/avatar.png);
  background-size: cover;
  border-radius: 50%;
  z-index: 1000;
}

header .navbar-compact .compose .logomark .avatar::before {
  cursor: pointer;
  content: "";
  opacity: 1;
  margin-top: 25px;
  margin-left: 25px;
  width: 15px;
  height: 15px;
  -webkit-animation: DelStatusCreate 0.5s forwards;
          animation: DelStatusCreate 0.5s forwards;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  position: absolute;
  background-color: goldenrod;
  border-radius: 50%;
  border: 3px solid #093332;
}

header .navbar-compact .compose .logomark .username {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  opacity: 1;
  -webkit-animation: UsernameMoveReverse 0.5s forwards;
          animation: UsernameMoveReverse 0.5s forwards;
  color: #dbdbdb;
  font-weight: bold;
  margin-left: 10px;
}

header .navbar-compact .compose .logomark .username::after {
  display: block;
  content: "";
  -webkit-animation: UsernameLine2 0.5s forwards;
          animation: UsernameLine2 0.5s forwards;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  width: 0%;
  height: 1px;
  background-color: #dbdbdb;
}

header .navbar-compact .compose .btn-options {
  margin-right: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  color: #dbdbdb;
  font-size: 30px;
  z-index: 4000;
  opacity: 0;
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
  -webkit-animation: UsernameMove 0.5s forwards;
          animation: UsernameMove 0.5s forwards;
}

header .navbar-compact .compose .btn-options:hover {
  color: #ffffff;
}

@-webkit-keyframes UsernameMove {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes UsernameMove {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@-webkit-keyframes UsernameMove2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes UsernameMove2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes UsernameLine {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes UsernameLine {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@-webkit-keyframes StatusCreate {
  0% {
    opacity: 0;
    margin-top: 35px;
    margin-left: 35px;
    width: 0px;
    height: 0px;
  }
  100% {
    opacity: 1;
    margin-top: 25px;
    margin-left: 25px;
    width: 15px;
    height: 15px;
  }
}

@keyframes StatusCreate {
  0% {
    opacity: 0;
    margin-top: 35px;
    margin-left: 35px;
    width: 0px;
    height: 0px;
  }
  100% {
    opacity: 1;
    margin-top: 25px;
    margin-left: 25px;
    width: 15px;
    height: 15px;
  }
}

@-webkit-keyframes DelStatusCreate {
  0% {
    opacity: 1;
    margin-top: 25px;
    margin-left: 25px;
    width: 15px;
    height: 15px;
  }
  100% {
    opacity: 0;
    margin-top: 35px;
    margin-left: 35px;
    width: 0px;
    height: 0px;
  }
}

@keyframes DelStatusCreate {
  0% {
    opacity: 1;
    margin-top: 25px;
    margin-left: 25px;
    width: 15px;
    height: 15px;
  }
  100% {
    opacity: 0;
    margin-top: 35px;
    margin-left: 35px;
    width: 0px;
    height: 0px;
  }
}

@-webkit-keyframes UsernameLine2 {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

@keyframes UsernameLine2 {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

@-webkit-keyframes UsernameMoveReverse {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
  }
}

@keyframes UsernameMoveReverse {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
  }
}

@media (max-width: 470px) {
  header .navbar {
    display: none;
  }
  header .navbar-compact {
    display: block;
  }
  header .navbar-compact .compose {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

main {
  width: 100%;
  margin-top: 50px;
}

main .intro {
  width: 100%;
  max-width: 800px;
  margin: auto;
  padding: 0px calc(2% + 10px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .intro .content {
  margin-top: -50px;
  opacity: 0;
  -webkit-transform: translateX(-30px);
          transform: translateX(-30px);
  -webkit-animation: UsernameMove 1s forwards;
          animation: UsernameMove 1s forwards;
}

main .intro .content h2 {
  margin-top: -10px;
  margin-left: -2px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #e0cdcd;
  font-weight: 800;
  font-size: 55px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

main .intro .content h2:after {
  content: "BOT";
  display: inline;
  cursor: pointer;
  position: absolute;
  margin-top: 10px;
  margin-left: 5px;
  font-size: 12px;
  font-weight: normal;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 1px 5px;
  background-color: #5865f2;
  border-radius: 3px;
  color: #ffffff;
  opacity: 0;
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
  -webkit-animation: UsernameMove 1s forwards;
          animation: UsernameMove 1s forwards;
}

main .intro .content h4 {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: gray;
}

main .intro .content p {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-top: -5px;
  width: 100%;
  max-width: 300px;
  color: #e0cdcd;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

main .intro .content .btns {
  margin-top: 20px;
}

main .intro .content .btns a {
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

main .intro .content .btns a button {
  outline: none;
  cursor: pointer;
  padding: 7px 10px;
  border: none;
  font-size: 18px;
  font-weight: bold;
  border-radius: 3px;
  color: #093332;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

main .intro .content .btns a button:hover {
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

main .intro .image {
  z-index: 1000;
}

main .intro .image img {
  width: 100%;
  max-width: 300px;
  opacity: 0;
  -webkit-transform: translateX(30px);
          transform: translateX(30px);
  -webkit-animation: UsernameMove 2s forwards;
          animation: UsernameMove 2s forwards;
}

main svg {
  display: block;
}

main .features {
  display: block;
  width: 100%;
  background-color: #ffffff;
  padding-top: 50px;
  position: relative;
  z-index: 1000;
}

main .features .title {
  display: block;
  text-align: center;
  width: 100%;
  max-width: 800px;
  margin: 30px auto 20px auto;
  color: #093332;
  font-size: 2rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-weight: bolder;
}

main .features .features-list {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: calc(1% + 10px);
}

main .features .features-list .feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  opacity: 0;
  margin: 40px 0px;
  -webkit-transform: translateX(-20px);
          transform: translateX(-20px);
  -webkit-animation: UsernameMove 0.5s forwards;
          animation: UsernameMove 0.5s forwards;
}

main .features .features-list .feature img {
  width: 100%;
  max-width: 350px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  -webkit-transform: rotateY(40deg) rotateX(10deg) rotateZ(-10deg);
          transform: rotateY(40deg) rotateX(10deg) rotateZ(-10deg);
}

main .features .features-list .feature img:hover {
  cursor: pointer;
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

main .features .features-list .feature .content {
  margin: 10px;
  width: 100%;
  max-width: 300px;
  padding-left: 10px;
  border-left: 2px solid #093332;
}

main .features .features-list .feature .content h2 {
  margin-bottom: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

main .features .features-list .feature .content span {
  color: rgba(9, 51, 50, 0.7);
  font-size: 14px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

main .features .features-list .feature.revert {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  opacity: 0;
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
  -webkit-animation: UsernameMove2 0.5s forwards;
          animation: UsernameMove2 0.5s forwards;
}

main .features .features-list .feature.revert img {
  -webkit-perspective: 1000px;
          perspective: 1000px;
  -webkit-transform: rotateY(40deg) rotateX(-10deg) rotateZ(10deg);
          transform: rotateY(40deg) rotateX(-10deg) rotateZ(10deg);
}

main .features .features-list .feature.revert img:hover {
  cursor: pointer;
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

main .features .features-list .feature.revert .content {
  text-align: right;
  padding-right: 10px;
  padding-left: 0px;
  border-left: none;
  border-right: 2px solid #093332;
}

main .features .features-list .feature.revert .content h2 {
  text-align: right;
}

main .features .features-list .feature.revert .content span {
  text-align: end;
}

main .cards {
  width: 100%;
}

main .cards .cards-list {
  width: 100%;
  max-width: 1000px;
  margin: 10px auto;
  padding: calc(5% + 10px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
  -webkit-animation: UsernameMove2 1s forwards;
          animation: UsernameMove2 1s forwards;
}

main .cards .cards-list .card {
  width: 100%;
  max-width: 200px;
  min-height: 300px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid #062221;
  background-color: #082e2d;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

main .cards .cards-list .card:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

main .cards .cards-list .card .title {
  padding: 10px;
  font-size: 18px;
  color: #e0cdcd;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

main .cards .cards-list .card .line {
  width: 100%;
  height: 2px;
  background-color: #062221;
}

main .cards .cards-list .card .description {
  padding: 10px;
  font-size: 14px;
  color: gray;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media (max-width: 725px) {
  main .features > .features-list > .feature {
    margin: 40px 0px;
  }
  main .features > .features-list > .feature img {
    margin: 0 auto;
    -webkit-perspective: 1000px;
            perspective: 1000px;
    -webkit-transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg);
            transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg);
  }
  main .features > .features-list > .feature .content {
    margin-top: 30px;
  }
  main .features > .features-list > .feature.revert {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  main .features > .features-list > .feature.revert img {
    -webkit-transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg);
            transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg);
  }
  main .features > .features-list > .feature.revert .content::after {
    display: block;
    margin-right: 0;
  }
}

@media (max-width: 630px) {
  main .intro .content {
    margin-top: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  main .intro .content h2 {
    font-size: 40px;
  }
  main .intro .content h2::after {
    display: none;
  }
  main .intro .content h4 {
    display: none;
  }
  main .intro .content p {
    margin-top: 5px;
  }
  main .intro .image {
    display: none;
  }
}

@media (max-width: 300px) {
  main .features .title {
    font-size: 1.5rem;
  }
}

aside {
  width: 100%;
}

aside .span-card {
  width: 100%;
  max-width: 250px;
  margin: 10px auto;
  padding: calc(1% + 10px);
  min-height: 50px;
  background-color: #ffffff;
  border-radius: 5px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translateX(30px);
          transform: translateX(30px);
  -webkit-animation: UsernameMove 0.5s forwards;
          animation: UsernameMove 0.5s forwards;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

aside .span-card .content {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #093332;
  font-size: 20px;
  font-family: Arial;
  font-weight: 1000;
  text-transform: uppercase;
}

aside .span-card a {
  cursor: pointer;
  text-decoration: none;
}

aside .span-card a button {
  cursor: pointer;
  margin: 0 auto;
  color: #ffffff;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  margin: 10px 0px;
  padding: 7px 10px;
  background-color: #093332;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

aside .span-card a button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

footer {
  margin: 5% calc(1% + 10px);
  padding-top: 10px;
}

footer .content, footer .by {
  margin-top: 10px;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 12px;
  color: gray;
}
