<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
    <link rel="stylesheet" href="/styles/home.css">
    <title>Resolute™</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans&family=Josefin+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans&family=Georama&family=Josefin+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans&family=Georama&family=Josefin+Sans:wght@300&display=swap" rel="stylesheet">
</head>

<body>
    <div class="circle"></div>
    <div class="option" id="list-universe">
        <div class="options">
            <ul>
                <li><a href="/">Inicial</a></li>
                <!-- <li><a href="https://painel.resolutebot.xyz/">Dashboard</a></li> -->
                <li><a href="/commands">Comandos</a></li>
                <li><a href="/discord">Suporte</a></li>
            </ul>
        </div>
    </div>
    <header>
        <div class="navbar">
            <div class="logomark">
                <div class="avatar"></div>
                <div class="username">Resolute</div>
            </div>
            <div class="options">
                <ul>
                    <li><a href="/">Inicial</a></li>
                    <!--  <li><a href="https://painel.resolutebot.xyz/">Dashboard</a></li> -->
                    <li><a href="/commands">Comandos</a></li>
                    <li><a href="/discord">Suporte</a></li>
                </ul>
                <a href="/add"><button>Adicionar</button></a>
            </div>
        </div>
        <div class="navbar-compact">
            <div class="compose">
                <div class="logomark">
                    <div class="avatar"></div>
                    <div class="username">Resolute</div>
                </div>
                <div class="btn-options"><i class="fa fa-align-justify" id="btn-options"></i>
                </div>
            </div>
        </div>
    </header>

    <main>
        <div class="intro">
            <div class="content">
                <h4>Eu sou o</h4>
                <h2>Resolute™</h2>
                <p>Deixando o seu servidor impecável!</p>
                <div class="btns">
                    <!-- <a href="https://painel.resolutebot.xyz/"><button>Painel de controle</button></a> -->
                    <a href="/add"><button>Adicionar</button></a>
                </div>
            </div>
            <div class="image">
                <img src="/assets/bellimg.png">
            </div>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
            <path fill="#ffffff" fill-opacity="1"
                d="M0,128L21.8,154.7C43.6,181,87,235,131,234.7C174.5,235,218,181,262,186.7C305.5,192,349,256,393,282.7C436.4,309,480,299,524,266.7C567.3,235,611,181,655,165.3C698.2,149,742,171,785,160C829.1,149,873,107,916,117.3C960,128,1004,192,1047,229.3C1090.9,267,1135,277,1178,277.3C1221.8,277,1265,267,1309,261.3C1352.7,256,1396,256,1418,256L1440,256L1440,320L1418.2,320C1396.4,320,1353,320,1309,320C1265.5,320,1222,320,1178,320C1134.5,320,1091,320,1047,320C1003.6,320,960,320,916,320C872.7,320,829,320,785,320C741.8,320,698,320,655,320C610.9,320,567,320,524,320C480,320,436,320,393,320C349.1,320,305,320,262,320C218.2,320,175,320,131,320C87.3,320,44,320,22,320L0,320Z">
            </path>
        </svg>

        <div class="features">
            <div class="title">Minhas Funcionalidades</div>
            <div class="features-list">
                <div class="feature" style="animation-delay: 0.5s;">
                    <img src="https://cdn.discordapp.com/attachments/869710611502731304/876211480503148544/unknown.png">
                    <div class="content">
                        <h2>Música</h2>
                        <span>Resolute possui um sistema de música complexo onde é 100% controlado por reações!</span>
                    </div>
                </div>
                <div class="feature revert" style="animation-delay: 0.75s;">
                    <div class="content">
                        <h2>Setups</h2>
                        <span>O setup é uma categoria dedicada a música tendo assim o total controle e atualização automática da música.</span>
                    </div>
                    <img src="https://cdn.discordapp.com/attachments/869710611502731304/876212018607185980/unknown.png">
                </div>
                <div class="feature" style="animation-delay: 1s;">
                    <img src="https://cdn.discordapp.com/attachments/869710611502731304/876211662053593128/unknown.png">
                    <div class="content">
                        <h2>Configuração</h2>
                        <span>Um painel de controle para poder gerenciar as configurações do bot.</span>
                    </div>
                </div>
                <div class="feature revert" style="animation-delay: 1.25s;">
                    <div class="content">
                        <h2>Moderação</h2>
                        <span>Resolute possui vários sistema de moderação e administração para o seu servidor, ajudando a previnir ataques de membros de má conduta!</span>
                    </div>
                    <img src="https://cdn.discordapp.com/attachments/869710611502731304/876211848578486322/unknown.png">
                </div>
            </div>
        </div>

        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
            <path fill="#ffffff" fill-opacity="1"
                d="M0,128L21.8,154.7C43.6,181,87,235,131,234.7C174.5,235,218,181,262,186.7C305.5,192,349,256,393,282.7C436.4,309,480,299,524,266.7C567.3,235,611,181,655,165.3C698.2,149,742,171,785,160C829.1,149,873,107,916,117.3C960,128,1004,192,1047,229.3C1090.9,267,1135,277,1178,277.3C1221.8,277,1265,267,1309,261.3C1352.7,256,1396,256,1418,256L1440,256L1440,0L1418.2,0C1396.4,0,1353,0,1309,0C1265.5,0,1222,0,1178,0C1134.5,0,1091,0,1047,0C1003.6,0,960,0,916,0C872.7,0,829,0,785,0C741.8,0,698,0,655,0C610.9,0,567,0,524,0C480,0,436,0,393,0C349.1,0,305,0,262,0C218.2,0,175,0,131,0C87.3,0,44,0,22,0L0,0Z">
            </path>
        </svg>

        <div class="cards">
            <div class="cards-list">
                <div class="card">
                    <div class="title"><i class="fa fa-star"></i> 
                        Modernização
                    </div>
                    <div class="line"></div>
                    <div class="description">
                        Com o Resolute, você garante modernidade para o seu servidor, assim deixando o seu servidor destacados entre várias comunidades do Discord!
                        <br>Os seus membros vão adorar ficar no seu servidor!
                    </div>
                </div>
                <div class="card">
                    <div class="title"><i class="fa fa-cog"></i> 
                        Atualizações
                    </div>
                    <div class="line"></div>
                    <div class="description">
                        Nossa equipe de desenvolvedores sempre estão adicionando incríveis atualizações no Resolute, deixando ele cada dia melhor para os servidores que o tem como aplicação.
                        <br>Manutenções para correções de Bugs diárias e o suporte impecável para os usuários como você!
                    </div>
                </div>
                <div class="card">
                    <div class="title"><i class="fa fa-user-shield"></i> 
                        Segurança
                    </div>
                    <div class="line"></div>
                    <div class="description">
                        Resolute foi desenvolvido com o intuíto de fornecer o máximo de segurança para sua comunidade, sempre estamos adicionando sistemas que ajudaram a proporcionar essa experiência para você!
                        <br>Confiança é a base de tudo!
                    </div>
                </div>
            </div>
        </div>
    </main>

    <aside>
        <div class="span-card">
            <div class="content"><i class="fa fa-heart"></i> 
                Me adicione!
            </div>
            <a href="/add"><button>ADICIONAR</button></a>
        </div>
    </aside>

    <footer>
        <div class="content">
            &copy; Copyright 2021 | Todos os Direitos Reservados
        </div>
        <div class="by"><i class="fa fa-wrench"></i> iNsaNy Developers</div>
    </footer>

    <script src="/scripts/navbar.js"></script>
</body>

</html>