<%- include("partials/header", { bot, user, path, title: "Home" }) %>

<div class="container-sm center" style="margin-top: 25px;">
  <div class="d-grid gap-2 col-6 mx-auto">
    <!--<h2>Resolute Dashboard</h2>-->
    <!--<p>Para acessar a dashboard basta clicar no botão abaixo!</p>-->
    <a class="btn btn-secondary text-white" href="/dashboard">Dashboard</a>
    <!--<a class="btn btn-primary text-white" href="">GitHub</a>-->
   <!-- <a class="btn btn-warning" href=""">Discord Server</a>-->
  </div>
</div>

<%- include("partials/footer") %>